
<h1 class="mt-2"> Contact List : </h1>
<a href="/contact/add"><button type="button" class="btn btn-success mb-3"><i class="fa-solid fa-circle-plus pe-2"></i>Add Contact</button></a>

<% if (msg.length > 0) { %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= msg  %> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <!--melakukan perulangan jika kondisi tidak ada object dalam array-->
    <% if (contacts.length < 1) { %>
      <p>Contact's List is empty</p>
      <% } else { %>
      <!-- menunampilkan contact list -->
      <% let i = 1 %> 
      <% contacts.forEach((data) => { %>
        <tr>
        <th class="align-middle" style="width: 8%;"><%= i++  %>. </th>
        <td class="align-middle" style="width: 25%;"><%= data.name %> </td>
        <td class="align-middle" style="width: 42%;"><%= data.email  %> </td>
        <td class="text-center">
          <a href="/contact/<%= data.name %>" class="pe-2"><button type="button" class="btn btn-primary"><i class="fa-solid fa-circle-info pe-2"></i>Detail</button></a>
          <a href="/contact/edit/<%= data.name %>" class="pe-2"><button type="button" class="btn btn-warning"><i class="fa-solid fa-pencil pe-2"></i>Edit</button></a>
          <a href="/contact/delete/<%= data.name %>"><button type="button" class="btn btn-danger"><i class="fa-solid fa-trash pe-2"></i>Delete</button></a>
        </td>
        </tr>
      <% }) %>
    <% } %>
  </tbody>
</table>
 